* {
    
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
}
.app {
   height: 100vh; 
   /* display: flex;
   flex-direction: column; */
}
.top {
    height: 5vh;
}
.container {
    height: 65vh;
    display: flex;
    flex-direction: column;
    
}
.keys {
    height: 30vh;
}
/* .result {
    width: 150px;
    height: 15px;
} */
.row {
    flex-grow: 1 ;
    display: flex;
    border: 1px solid black;
}
.cell {
    width: 50%;
    border: 0;
    display: flex;
    align-items:center;
    justify-content:center;
    
}










/* [contentEditable = false] {
    border-color: red;
} */