* {
    
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
}
.app {
   height: 100vh; 
   /* display: flex;
   flex-direction: column; */
}
.top {
    height: 5vh;
}
.container {
    height: 65vh;
    display: flex;
    flex-direction: column;
    
}

.row {
    flex-grow: 1 ;
    display: flex;
    border: 1px solid black;
}
.cell {
    width: 50%;
    border: 0;
    display: flex;
    align-items:center;
    justify-content:center;
    
}

.keys {
    height: 30vh;
    display: flex;
}
.numpad {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    
}
.rightpad {
    width: 25%;
    display: flex;
    flex-direction: column;
}
.rightpad .butt {
    flex-grow: 1;
}
.numpad .butt {
    width: 31%;
}
.butt {
    border: 1px solid black;
}










/* [contentEditable = false] {
    border-color: red;
} */